.contactForm {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.submitBtn {
  width: 10em;
  height: 3em;
  font-weight: 500;
  font-size: 18px;

  background-color: #af7eeb;
  color: white;
}

.submitBtn:hover {
  background-color: white;
  color: #af7eeb;
}
.label {
  padding-bottom: 1em;
}
