.contactForm {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.submitBtn {
  cursor: pointer;

  width: 10em;
  height: 3em;
  margin-top: 1em;

  font-weight: 600;
  font-size: 18px;

  background-color: #af7eeb;
  color: white;
  border-color: darkcyan;
  border-radius: 30px;
}

.submitBtn:hover {
  background-color: white;
  color: #af7eeb;
}

.formInput {
  width: 200px;
}
